:root {
    --bialy: rgb(255, 255, 255);
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    font-size: 24px;
}

h1 {
    line-height: 0.2;
    font-size: 5em;
}

h2 {
    font-weight: 400;
    line-height: 0.5;
    font-size: 3em;
}

h3 {
    font-weight: 600;
    font-size: 1.5em;
}

h4 {
    font-weight: 400;
    text-decoration: underline red;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

nav p {
    margin: 10px;
    font-weight: 1000;
    font-size: 1em;
}

header {
    text-align: center;
}

body>div {
    background-color: var(--bialy);
    align-items: center;
}

.background-image {
    z-index: -1;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;
}

.social-link-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border-left: 1px solid black;
    z-index: 1;
}

.social-link-wrapper>i {
    margin: 30px auto;
}

/* styling introduction section*/

.introduction-container {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    overflow: hidden;
    color: var(--bialy);
    padding: 5% 5%;
}

.introduction-text {
    margin-left: 20%;
    line-height: 1.5;
}

.introduction-image {
    position: absolute;
    top: -10%;
    left: -10%;
    justify-self: flex-start;
    overflow: hidden;
    z-index: -1;
}

.introduction-image>img {
    min-width: 110vw;
    min-height: 110vh;
    animation: pulse2 8s infinite;
}

.introduction-buttons {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
}

.button {
    color: var(--bialy);
    text-align: center;
    margin-right: 20px;
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid red;
    transition: 0.3s ease-in-out;
    transition-property: background-color, color;
    cursor: pointer;
}

.button span {
    text-decoration: none;
}

/* styling about me section*/

.about-me {
    background-color: var(--bialy);
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5% 0;
    flex-wrap: wrap;
}

.about-me>img {
    border-radius: 50%;
    height: 25vh;
    padding: 0 50px;
}

.about-me>span {
    padding: 0 50px;
}

/* styling spacer section with images */

.spacer {
    background-color: transparent;
    height: 300px;
    width: 95%;
    z-index: -1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.spacer-content {
    width: 20vw;
    overflow: hidden;
    text-align: center;
    display: inline-flex;
    justify-content: center;
}

.spacer-content>img {
    max-height: 200px;
    object-fit: contain;
    border-bottom: solid 1px rgba(255, 255, 255, 1);
    animation: border-pulse 2s infinite;
    cursor: pointer;
}

input.spacer-more {
    display: none;
}

input.spacer-more:checked~.expandable-container {
    display: none;
}

.expandable-container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.9);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    color: var(--bialy);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.expandable-container>span:first-of-type {
    position: absolute;
    top: 10px;
    padding: 0;
}

.expandable-container>span {
    padding: 5%;
    text-align: left;
}

.expandable-container-photo {
    width: 70%;
    height: auto;
    overflow: hidden;
    margin-bottom: 40px;
}

.expandable-container-photo>img {
    width: 100%;
}

/* styling form */

form {
    width: 100%;
    background-color: var(--bialy);
    padding: 10px 0;
}

form h2 {
    text-align: center;
}

.form-inner {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template: repeat(5, auto) / 70% 30%;
}

.form-inner>input[type="text"] {
    grid-area: 1/1/2/2;
    margin: 10px auto;
}

.form-inner>input[type="email"] {
    grid-area: 2/1/3/2;
    margin: 10px auto;
}

.form-inner>textarea {
    grid-area: 3/1/4/2;
    margin: 10px auto;
    padding-top: 10px;
}

.form-inner>button {
    grid-area: 4/1/5/2;
    margin: 10px auto;
    width: 30%;
    height: 40px;
    border-radius: 5px;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.form-inner>input,
.form-inner>textarea {
    width: 90%;
    min-height: 40px;
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(220, 220, 220, 0.5);
    color: black;
    transition: all 0.2s ease-in-out;
}

.form-inner>input:focus,
.form-inner>textarea:focus {
    background-color: var(--bialy);
}


.contact-info {
    text-align: justify;
    font-size: 0.6em;
}

a {
    color: black;
}

footer {
    padding: 20px;
    background-color: var(--bialy);
    text-align: center;
    font-size: 0.7em;
}


@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

@keyframes pulse2 {
    0% {
        transform: scale(0.98)
    }

    50% {
        transform: scale(1) translate(20px);
    }

    100% {
        transform: scale(0.98)
    }
}

@keyframes border-pulse {
    0% {
        border-color: rgba(255, 255, 255, 1);
    }

    50% {
        border-color: rgba(0, 255, 255, 0);
    }

    100% {
        border-color: rgba(255, 255, 255, 1);
    }
}

/* MOBILE VERTICAL*/
@media only screen and (max-width: 750px) and (orientation: portrait) {

    body {
        font-size: 16px;
    }

    h2 {
        font-weight: 400;
        line-height: 0.5;
        font-size: 2em;
    }

    .introduction-text {
        margin-right: 0px;
        line-height: 1.5;
    }

    .background-image {
        width: 100%;
    }

    .social-link-wrapper {
        position: fixed;
        top: calc(calc(100% - 25%)/2);
        height: 30%;
        width: 12%;
        border: 1px solid black;
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .form-inner {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        display: grid;
        grid-template: repeat(5, auto) / auto;
    }

    .contact-info {
        text-align: center;
        font-size: 0.8em;
        margin-top: 10px;
    }

    .spacer {
        background-color: transparent;
        height: auto;
        width: 100%;
        z-index: -1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.6);
        padding-bottom: 20px;
    }

    .spacer-content {
        width: 90%;
        margin: 40px auto 0 auto;
    }
}

/* MOBILE HORIZONTAL*/
@media only screen and (max-width: 1000px) and (orientation: landscape) {
    body {
        font-size: 16px;
    }

    h2 {
        font-weight: 400;
        line-height: 0.5;
        font-size: 2em;
    }

    .introduction-container {
        height: 100vh;
        padding: 10vh 0 0 0;
        min-height: 350px;
    }

    .about-me {
        height: 100vh;
        min-height: 400px;
    }

    .about-me>img {
        height: auto;
    }

    .expandable-container>img {
        width: auto;
        height: 50%;
        padding-bottom: 5%;
    }

    form,
    footer,
    .about-me,
    .spacer {
        width: calc(100% - 60px);
    }

    .spacer {
        height: auto;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .spacer-content {
        margin: 2% 0;
        width: 40%;
    }

    textarea {
        height: 20vh;
    }

    .form-inner {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        display: grid;
        grid-template: repeat(5, auto) / auto;
    }

    .contact-info {
        text-align: center;
        font-size: 0.8em;
        margin-top: 20px;
    }
}

/* TABLET VERTICAL */

@media only screen and (min-width: 750px) and (max-width: 1100px) and (orientation: portrait) {
    .introduction-container {
        height: 50vh;
        padding: 2vh 0 0 0;
        min-height: 550px;
    }

    .about-me {
        height: 50vh;
        min-height: 700px;
    }

    form,
    footer,
    .about-me,
    .spacer {
        width: calc(100% - 60px);
    }

    .spacer {
        height: auto;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .spacer-content {
        margin: 2% 0;
        width: 40%;
    }

    .form-inner {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        display: grid;
        grid-template: repeat(5, auto) / auto;
    }

    .contact-info {
        text-align: center;
        font-size: 0.8em;
        margin-top: 20px;
    }
}

/* TABLET HORIZONTAL */

@media only screen and (min-width: 1000px) and (max-width: 1400px) and (orientation: landscape) {

    .introduction-image {
        height: 110vh;
        top: -5%;
    }

    .form-inner {
        width: 70%;
    }

    .spacer {
        height: auto;
        justify-content: space-around;
        flex-wrap: wrap;
        width: calc(100% - 60px);
    }

    .spacer-content {
        margin: 2% 0;
        width: 40%;
    }
}

/* DESKTOP BUTTON HOVER */

@media only screen and (min-width: 1500px) {
    .button:hover {
        background-color: tomato;
        color: var(--bialy);
    }
}