body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: black;
    font-size: 24px;
}

h1 {
    line-height: 0.2;
    font-size: 5em;
}

h2 {
    font-weight: 400;
    line-height: 0.5;
    font-size: 3em;
}

h3 {
    font-weight: 600;
    font-size: 1.5em;
}

h4 {
    font-weight: 400;
    text-decoration: underline red;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

nav p {
    margin: 10px;
    font-weight: 1000;
    font-size: 1em;
}

header {
    text-align: center;
}

body>div {
    background-color: white;
    align-items: center;
}

.background-image {
    z-index: -1;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;
}

.social-link-wrapper {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    display: none;
}

.social-link {
    width: 5%;
    display: block;
}

/* styling introduction section*/

.introduction-container {
    display: grid;
    grid-template: auto auto / 2fr 2fr;
    justify-items: center;
    margin: 0;
    align-items: center;
    background-color: white;
    padding: 0px 12.5%;
    box-sizing: border-box;
    width: 100%;
    overflow:hidden;
}

.introduction-text {
    margin-right: 0px;
    line-height: 1.5;
}

.introduction-image {
    justify-self: flex-start;
    height: 100%;
    overflow: hidden;
    transition: transform 1s ease-in-out;
}

.introduction-image:hover{
    transform: rotate(45deg) ;
}

.introduction-image>img {
    justify-self: flex-start;
    height: 100%;
    position: relative;
    top: 10px;
}

.introduction-buttons {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
}

.button {
    color: black;
    text-align: center;
    margin-right: 20px;
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid red;
    transition: 0.3s ease-in-out;
    transition-property: background-color, color;
}

.button span {
    text-decoration: none;
}

.button:hover {
    background-color: tomato;
    color: white;
}

.spacer {
    background-color: transparent;
    height: 50px;
    width: 100%;
    z-index: -1;
}

/* styling about me section*/


.about-me {
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px 0;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.about-me>img {
    border-radius: 50%;
    min-height: 200px;
    padding: 0 50px;
}

.about-me>span {

    padding: 0 50px;
}


/* styling form */

form {
    width: 100%;
    background-color: white;
    padding: 10px 0;
    box-sizing: border-box;
}

.form-inner {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.form-inner>input,
.form-inner>textarea,
.form-inner>button {
    display: block;
    margin: 10px auto;
}

/* MOBILE */
@media (max-width: 480px) {

    body {
        font-size: 16px;
    }

    h2 {
        font-weight: 400;
        line-height: 0.5;
        font-size: 2em;
    }

    .introduction-container {
        display: grid;
        grid-template: auto auto / auto;
        justify-items: center;
        margin: 0 auto;
        align-items: center;
        background-color: white;
        padding: 0px 12.5%;
    }


    .introduction-text {
        margin-right: 0px;
        line-height: 1.5;
    }

    .introduction-image {
        justify-self: flex-start;
        height: 100%;
        overflow: hidden;
    }

    .test {
        width: 100%;
    }

    .test2 {
        width: 100%;
    }

    .background-image {
        width: 100%;
    }
}