body {
    font-family: 'Poppins', sans-serif;
    margin:0;
}

h3 {
    font-weight: 400;
    text-decoration: underline red;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

nav p {
    margin: 10px;
    font-weight: 1000;
    font-size: 1em;
}

header {
    text-align: center;
}

body>div {
    background-color: white;
    
    align-items: center;
}

.background-image{
    z-index: -1;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

/* styling introduction section*/

.introduction-container {
    display: grid;
    grid-template: auto auto / 3fr 2fr;
    justify-items: center;
    margin: 20px auto;
    align-items: center;
    background-color: white;
    padding: 25px 12.5%;    
}

.introduction-text {
    margin-right: 50px;
    line-height: 1.5;
}

.introduction-image {
    justify-self: flex-start;
}

.introduction-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-start;

}

.button {
    text-align: center;
    margin-right: 10px;
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid red;
}

.test {
    
    background-color: transparent;
    height: 100px;
    width: 1000px;
    z-index: -1;
}
.test2 {
    
    height: 10000px;
    width: 100%;
    z-index: -1;
}

/* styling clickable sections */
.clickable-section {
    max-height: 0px;
    overflow: hidden;
    transition: 1s ease-in-out;
    margin-bottom: 50px;
}


.clickable-section-image>img {
    display: block;
    margin: 10px auto;
}

:target {
    max-height: 1000px;
}